APP_HOST=0.0.0.0
APP_PORT=8090
APP_TIMEOUT=4s
APP_IDLE_TIMEOUT=30s

DB_HOST=0.0.0.0
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=qwerty
DB_NAME=images_db
SSL_MODE=disable

MAX_IMAGE_SIZE=20 # max image size in MB
MAX_MEMORY=100 # total multipart-query memory (MB) 
MAX_NUMBER_IMAGES=10 # max number of images in request
IMAGE_DIRECTORY=media/images

FILE_SERVER_HOST=localhost
CACHE_MAX_AGE=86400 # in seconds